:root {
  --color-primary: #55c57a;
  --color-primary-light: #a4e0b8;
  --color-primary-dark: #349855;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: #fff;
  --color-yellow: #dddd7a;
  --color-alert-primary: #29438b;
  --color-alert-secondary: #696b79;
  --color-alert-success: #1b7052;
  --color-alert-danger: #dc3545;
  --color-alert-warning: #ff9204;
  --color-bg-alert-primary: #7fd2e6;
  --color-bg-alert-secondary: #eaeaec;
  --color-bg-alert-success: #84f1c9;
  --color-bg-alert-danger: #fcc5c5;
  --color-bg-alert-warning: #ffe7c5;
  --color-text-overlay: #ffffffa8;
  --color-modal-bg: #00000080;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);

  background-color: var(--color-grey-light-2);
  background-size: cover;
}
