.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: var(--color-primary-light);
  position: fixed;
  z-index: 10;
  padding: 1.5rem 5rem;
}
.title {
  font-size: 3rem;
  text-decoration: none;
  color: inherit;
}
.title:hover {
  color: var(--color-primary);
}
.heading {
  margin-right: auto;
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  align-items: center;
}
.nav-icon {
  font-size: 2rem;
  color: var(--color-grey-dark-1);
}
.nav-icon:hover {
  color: var(--color-primary);
}
@media screen and (max-width: 1024px) {
  .active .title {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .active .burger {
    position: fixed;
  }
  .navigation {
    position: fixed;
    top: 0rem;
  }
  .heading {
    gap: 0.7rem;
  }
  .title {
    font-size: inherit;
  }
}
