@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round");
.fn-weight-xs {
  font-weight: 300;
}
.fn-weight-s {
  font-weight: 400;
}
.fn-weight-m {
  font-weight: 600;
}
.fn-weight-l {
  font-weight: 700;
}
.fn-weight-xl {
  font-weight: 900;
}
/* font size */
.fn-size-xs {
  font-size: 1rem;
}
.fn-size-s {
  font-size: 1.5rem;
}
.fn-size-m {
  font-size: 2rem;
}
.fn-size-l {
  font-size: 3rem;
}

.fn-size-xl {
  font-size: 5rem;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.87rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.32rem;
}
h6 {
  font-size: 1.07rem;
}
/* elements */
.btn {
  padding: 0.8rem 1rem;
  font-size: 1.4rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: var(--color-primary);
  background-color: transparent;
  cursor: pointer;
  padding: 1.125rem 1.875rem;
  margin: 0.25rem;
}
.btn:hover {
  opacity: 0.8;
  transition: opacity 0.25s ease-in;
}
