<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Yash Patel" />
    <title>Image</title>
  </head>
  <body>
    <h1>Image</h1>
    <h3>
      Images can be responsive to fit the parent's width, and also can be
      customised to be round shaped
    </h3>
    <h2>Responsive image</h2>
    <img
      class="img-responsive"
      src="https://picsum.photos/1000/500"
      loading="lazy"
    />
    <h2>Round image</h2>
    <img class="img-round" src="https://picsum.photos/300" loading="lazy" />
    <div class="code-display">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28250%2C249%2C249%2C1%29&t=theme%3An54lvb9jl8j&wt=none&l=javascript&width=680&ds=true&dsyoff=52px&dsblur=0px&wc=true&wa=true&pv=0px&ph=10px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=136%25&si=false&es=2x&wm=false&code=%253C%21--%2520responsive%2520image%2520--%253E%250A%253Cimg%2520class%253D%2522img-responsive%2522%2520src%253D%2522%2522%2520%252F%253E%250A%253C%21--%2520round%2520image%2520--%253E%250A%253Cimg%2520class%253D%2522img-round%2522%2520src%253D%2522https%253A%252F%252Fpicsum.photos%252F300%2522%2520%252F%253E"
        sandbox="allow-scripts allow-same-origin"
        loading="lazy"
      >
      </iframe>
    </div>
  </body>
</html>
