<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Yash Patel" />
    <title>Card</title>
    <link rel="stylesheet" href="/css/utilities/main.css" />
    <link rel="stylesheet" href="typography.css" />
  </head>
  <body>
    <div class="component-display-container display-flex-column">
      <h1>H1-Heading</h1>
      <h2>H2-Heading</h2>
      <h3>H3-Heading</h3>
      <h4>H4-Heading</h4>
      <h5>H5-Heading</h5>
      <h6>H6-Heading</h6>
    </div>
  </body>
</html>
