<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Yash Patel" />
    <title>Input</title>
    <!-- <link rel="stylesheet" href="/css/utilities/main.css" /> -->
  </head>
  <div>
    <h1>Grid Simplified</h1>
    <h3>Grid 50-50</h3>
    <h3>Grid 70-30</h3>
    <div class="grid-30-70">
        <div>
            <img class="img-responsive" src="https://picsum.photos/1000/500">
        </div>
        <div class="card-horizontal vertical-middle">
            <div class="text-container text-center">
                <h3>Combo Packs</h3>
                <h5>Starting At Rs.799</h5>
                <div class="CTA-Container">
                    <a class="btn btn-outline-secondary">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <h3>Grid 4-column</h3>
    <div class="grid-4-column">
        
      <div class="card-vertical">
        <div class="image-container">
          <img src="https://picsum.photos/300" alt="" class="card-image" />
          <span class="card-badge">New</span>
        </div>
        <div class="text-container">
          <div class="text-container_title">
            <h3>Product Name</h3>
            <button class="btn btn-icon-only">
              <span class="material-icons"> favorite_border </span>
            </button>
          </div>
          <div class="text-container_desc">
            <p>Product description</p>
            <p>
              Rs. 999<span class="text-container_strike">Rs. 1200</span
              ><span>10% off</span>
            </p>
          </div>
          <!-- <div class="CTA-container"> -->
          <button class="btn btn-solid btn-icon_center">
            <span class="material-icons"> save </span>Add to cart
          </button>
          <!-- </div> -->
        </div>
      </div>
      <!-- </div> -->
      <!-- - Cards with dismiss -->
      <!-- <div class="center-card"> -->
      <div class="card-vertical">
        <div class="image-container">
          <img src="https://picsum.photos/300" alt="" class="card-image" />
          <span class="card-badge">New</span
          ><button class="card-badge_close btn btn-icon-only">
            <span class="material-icons"> cancel </span>
          </button>
        </div>
        <div class="text-container">
          <div class="text-container_title">
            <h3>Product Name</h3>
            <button class="btn btn-icon-only">
              <span class="material-icons"> favorite_border </span>
            </button>
          </div>
          <div class="text-container_desc">
            <p>Product description</p>
            <p>
              Rs. 999<span class="text-container_strike">Rs. 1200</span
              ><span>10% off</span>
            </p>
          </div>
          <!-- <div class="CTA-container"> -->
          <button class="btn btn-solid btn-icon_center">
            <span class="material-icons"> save </span>Add to cart
          </button>
          <!-- </div> -->
        </div>
      </div>
      <!-- </div> -->
      <!-- - Cards with text overlay -->
      <!-- <div class="center-card"> -->
      <div class="card-vertical">
        <div class="overlay-container">
          <div class="image-container">
            <img src="https://picsum.photos/300" alt="" class="card-image" />
            <span class="card-badge">New</span>
          </div>
          <div class="text-container">
            <div class="text-container_title">
              <h3>Product Name</h3>
              <button class="btn btn-icon-only">
                <span class="material-icons"> favorite_border </span>
              </button>
            </div>
            <div class="text-container_desc">
              <p>Product description</p>
              <p>
                Rs. 999<span class="text-container_strike">Rs. 1200</span
                ><span>10% off</span>
              </p>
            </div>
            <!-- <div class="CTA-container"> -->
            <button class="btn btn-solid btn-icon_center">
              <span class="material-icons"> save </span>Add to cart
            </button>
            <!-- </div> -->
          </div>
        </div>
        <div class="overlay-text">
          <div class="text-overlay_name body-cp-lg">Out Of Stock</div>
        </div>
      </div>
      <div class="card-vertical shadow-box">
        <div class="image-container">
          <img src="https://picsum.photos/300" alt="" class="card-image" />
          <span class="card-badge">New</span>
        </div>
        <div class="text-container">
          <div class="text-container_title">
            <h3>Product Name</h3>
            <button class="btn btn-icon-only">
              <span class="material-icons"> favorite_border </span>
            </button>
          </div>
          <div class="text-container_desc">
            <p>Product description</p>
            <p>
              Rs. 999<span class="text-container_strike">Rs. 1200</span
              ><span>10% off</span>
            </p>
          </div>
          <button class="btn btn-solid btn-icon_center">
            <span class="material-icons"> save </span>Add to cart
          </button>
        </div>
      </div>
   
</div>
  </body>
</html>
