.grid-70-30 {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: var(--color-grey-light-1);
}
.grid-30-70 {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: var(--color-grey-light-1);
}
.grid-50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--color-grey-light-1);
}
.grid-20-80 {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--color-grey-light-1);
}
.btn-container {
  display: flex;
}
.grid-4-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid-3-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1400px) {
  .grid-4-column {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 720px) {
  .grid-3-column {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media screen and (max-width: 520px) {
  .grid-4-column {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .grid-30-70 {
    grid-template-columns: 1fr;
  }
  .grid-70-30 {
    grid-template-columns: 1fr;
  }
  .grid-50-50 {
    grid-template-columns: 1fr;
  }
}
