.card-vertical {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-light-1);
  max-width: 25rem;
  width: 100%;
  position: relative;
  margin: 2rem 0rem;
}
.center-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.card-image {
  max-width: 100%;
  height: auto;
}
.image-container {
  position: relative;
}
.card-badge {
  position: absolute;
  top: 1rem;
  left: 0rem;
  padding: 0.5rem 0.95rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  font-size: 0.75em;
  line-height: 1;
  text-align: center;
}
.text-container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p {
  font-size: 1.5rem;
}
.text-container-strike {
  text-decoration: line-through;
}
.text-container {
  padding: 0.5rem 0.8rem;
}
.card-badge-close {
  position: absolute;
  right: 0rem;
  padding: 0rem;
}
.overlay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay-text {
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: var(--color-text-overlay);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 2rem;
}
.text-overlay-name {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 3rem;
}
.card-horizontal {
  display: flex;
  /* margin: 2rem 0rem; */
  background-color: var(--color-grey-light-1);
  width: 59rem;
}
.shadow-box {
  box-shadow: 0px 0px 10px 4px var(--color-grey-dark-1);
}
