<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Yash Patel" />
    <title>Input</title>
    <!-- <link rel="stylesheet" href="/css/utilities/main.css" /> -->
  </head>
  <body>
    <h1>Input</h1>
    <h3>Input elements are used to gather information from users.</h3>
    <h2>Default input</h2>
    <input
      placeholder="Enter your name"
      class="input-field"
      type="text"
      id="text"
    />
    <h2>Error input</h2>
    <input
      placeholder="Enter your password"
      class="input-field input-error"
      type="password"
      id="password"
    />
    <div class="code-display">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28250%2C249%2C249%2C1%29&t=theme%3An54lvb9jl8j&wt=none&l=javascript&width=680&ds=true&dsyoff=52px&dsblur=0px&wc=true&wa=true&pv=0px&ph=10px&ln=false&fl=1&fm=Hack&fs=14.5px&lh=136%25&si=false&es=2x&wm=false&code=%253C%21--%2520Default%2520input%2520--%253E%2520%250A%253Cinput%2520placeholder%253D%2522Enter%2520your%2520name%2522%2520class%253D%2522input-field%2522%2520%250Atype%253D%2522text%2522%2520id%253D%2522text%2522%2520%252F%253E%250A%253C%21--%2520Error%2520input%2520--%253E%250A%253Cinput%2520placeholder%253D%2522Enter%2520your%2520password%2522%2520class%253D%2522input-field%2520input-error%2522%2520%250Atype%253D%2522password%2522%2520id%253D%2522password%2522%252F%253E"
        sandbox="allow-scripts allow-same-origin"
        loading="lazy"
      >
      </iframe>
    </div>
  </body>
</html>
