.avatar {
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.avatar-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem 0;
  align-items: baseline;
  border-radius: 0.3rem;
  width: 100%;
}
.avatar-round-border {
  border-radius: 0.5rem;
}

.avatar-circle {
  border-radius: 50%;
}
.avatar-image {
  width: 3rem;
  height: 3rem;
}

.avatar-image-2xs {
  width: 1rem;
  height: 1rem;
}

.avatar-image-xs {
  width: 1.5rem;
  height: 1.5rem;
}

.avatar-image-sm {
  width: 2rem;
  height: 2rem;
}

.avatar-image-md {
  width: 3rem;
  height: 3rem;
}

.avatar-image-lg {
  width: 4rem;
  height: 4rem;
}

.avatar-image-xl {
  width: 6rem;
  height: 6rem;
}

.avatar-image-2xl {
  width: 8rem;
  height: 8rem;
}
.avatar-text {
  background-color: var(--color-primary-light);
  color: var(--color-grey-dark-3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
