<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Yash Patel" />
    <title>Card</title>
    <link rel="stylesheet" href="/css/utilities/main.css" />
    <link rel="stylesheet" href="chip.css" />
  </head>
  <body>
    <h1>Chip</h1>
    <h2>Chip with close button</h2>
    <div class="container">
      <div class="chip">
        <span class="material-icons currency"> attach_money </span>
        <div class="chip-content">Dollars</div>

        <span class="material-icons btn-close"> close </span>
      </div>
      <!-- onclick="closeChip()" -->
      <div class="chip">
        <span class="material-icons currency"> currency_pound </span>
        <div class="chip-content">Pounds</div>
        <span class="material-icons btn-close"> close </span>
      </div>
      <div class="chip">
        <span class="material-icons currency"> currency_rupee </span>
        <div class="chip-content">Rupee</div>
        <span class="material-icons btn-close"> close </span>
      </div>
      <div class="chip">
        <span class="material-icons currency"> currency_yen </span>
        <div class="chip-content">Yen</div>
        <span class="material-icons btn-close"> close </span>
      </div>
      <div class="chip">
        <span class="material-icons currency"> euro </span>
        <div class="chip-content">Euro</div>
        <span class="material-icons btn-close"> close </span>
      </div>
    </div>
    <h2>Chip with input</h2>
    <div class="container inputContainer">
      <div class="chipContainer chip">
        <input
          type="text"
          placeholder="Enter value here"
          class="chip chip-content"
          id="inputChip"
        />
      </div>
    </div>
    <h2>Chip with drag and drop</h2>
    <div class="container drag-drop">
      <div class="chip draggable" draggable="true">
        <span class="material-icons currency"> attach_money </span>
        <div class="chip-content">Dollars</div>

        <span class="material-icons btn-close"> close </span>
      </div>
      <!-- onclick="closeChip()" -->
      <div class="chip draggable" draggable="true">
        <span class="material-icons currency"> currency_pound </span>
        <div class="chip-content">Pounds</div>
        <span class="material-icons btn-close"> close </span>
      </div>
      <div class="chip draggable" draggable="true">
        <span class="material-icons currency"> currency_rupee </span>
        <div class="chip-content">Rupee</div>
        <span class="material-icons btn-close"> close </span>
      </div>
      <div class="chip draggable" draggable="true">
        <span class="material-icons currency"> currency_yen </span>
        <div class="chip-content">Yen</div>
        <span class="material-icons btn-close"> close </span>
      </div>
      <div class="chip draggable" draggable="true">
        <span class="material-icons currency"> euro </span>
        <div class="chip-content">Euro</div>
        <span class="material-icons btn-close"> close </span>
      </div>
    </div>
    <!-- <script src="/js/chip.js"></script> -->
  </body>
</html>
