.container {
  /* width: 60vw; */
  /* height: 10rem; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 4rem;
  align-content: flex-start;
}

.chip {
  background-color: var(--color-grey-light-3);

  border-radius: 1rem;
  border: none;
  /* border: 2px solid var(--color-alert-danger); */
  outline: none;
  display: flex;
  align-items: center;
  height: 3rem;
  margin: 3rem;
  justify-content: center;
  /* padding: 0.5rem 0.5rem; */
  /* margin-bottom: 2rem; */
}
.currency {
  background-color: var(--color-primary-light);
  /* border-radius: 10px; */
  height: 3rem;
  width: 3rem;
  /* padding: 0.8rem 0.4rem; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.chip-content {
  font-size: 2rem;
  margin-left: 0.4rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.btn-close {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: transparent;
  border-radius: 1rem;
  /* display: block; */
}
.btn-close:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
}
/* #btn {
    display: flex;
  } */
.drag-drop {
  flex-direction: column;
  flex-wrap: nowrap;
}
.drag-drop .chip {
  margin: 1rem;
  padding: 2rem;
}
.draggable {
  cursor: move;
}
