<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Yash Patel" />
    <link rel="stylesheet" href="toast.css" />

    <title>Document</title>
  </head>
  <body>
    <h1>Toast</h1>
    <div class="toast">
      <div class="toast-container">
        <div class="toast-text fn-size-s">This is toast.</div>
        <div class="btn-view">
          <button class="btn btn-ghost">Retry</button>
          <span class="material-icons btn-icon-only"> cancel </span>
        </div>
      </div>
    </div>
    <div class="code-display">
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=theme%3Awbo0i8md7y&wt=none&l=auto&width=680&ds=false&dsyoff=0px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=124%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522toast-container%2522%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522toast-text%2520fn-size-s%2522%253EThis%2520is%2520toast.%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522btn-view%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2509%253Cbutton%2520class%253D%2522btn%2520btn-ghost%2522%253ERetry%253C%252Fbutton%253E%250A%2509%2509%253Cspan%2520class%253D%2522material-icons%2520btn-icon-only%2522%253E%2520cancel%2520%253C%252Fspan%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A%253C%252Fdiv%253E"
        sandbox="allow-scripts allow-same-origin"
        loading="lazy"
      >
      </iframe>
    </div>
  </body>
</html>
