<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Yash Patel" />
    <link rel="stylesheet" href="toast.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="toast-container">
      <div class="toast-text">Can't send photo. Retry in 5 seconds.</div>
      <div class="btn-view">
        <button class="btn btn-view">Retry</button>
        <span class="material-icons"> close </span>
      </div>
    </div>
  </body>
</html>
