<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Yash Patel" />
    <title>Input</title>
    <!-- <link rel="stylesheet" href="/css/utilities/main.css" /> -->
  </head>
  <body>
    <h1>Rating</h1>
    <h3>Rating components is mostly used for review section in website</h3>
    <span class="material-icons-round rating"> star_rate </span>
    <span class="material-icons-round rating"> star_rate </span>
    <span class="material-icons-round rating"> star_rate </span>
    <span class="material-icons-round rating"> star_rate </span>
    <span class="material-icons-round no-rating"> star_border </span>
  </body>
</html>
